*{
    padding:0;
    margin:0;
}

.container{
    width: 100%;
    display: flex;
}
.box-left{
    width: 15%;
}
.box-left div{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 20px;
    text-align: center;
}
.box-left div:nth-of-type(odd){
    background-color: aliceblue;
}

.title{
    width: 100%;
    font-size: 22px;
    font-weight: 800;
    color: #64854c;
}
.title::before{
    content: '【学习';
    font-size: 22px;
    font-weight: 800;
    color: #64854c;
}
.title::after{
    content: '】';
    font-size: 22px;
    font-weight: 800;
    color: #64854c;
}
.box-right{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.box-right img{
    width: 70px;
    height: 70px;
}
.explain{
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.explain span{
    flex: 1;
    color:#666666;
}
.box-right>div{
    width: 40%;
    background-color: #f6f6f6;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 15px;
}
.ding{
    width: 97%;
    font-size: 28px;
    font-weight: 500;
    border-bottom: 3px solid #ccc;
    margin-bottom: 20px;
    margin-left: 30px;
}
.nima{
    flex:1;
}
.top{
    width: 100%;
}
.shuru{
    flex:1;
}
input{
    width: 40%;
    height: 40px;
    border:5px solid #ccc ;
    margin-right: 50px;
    border-radius: 5px;
    float:right;
    font-size: 30px;
    font-family: '华文楷体';
    padding-left: 10px;
}
.top img{
    width: 500px;
    height: auto;
    margin-top: 15px;
    margin-left: 50px;
}
.logo{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.daohang{
    width: 100%;
    height: 50px;
    background-color: #64854c;
}
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    line-height: 50px;
    margin-left: 50px;
}